<mat-card>
<mat-action-list>
<div mat-subheader>Menu</div>
<button mat-list-item routerLink="/admin-dashboard">
<mat-icon mat-list-icon>home</mat-icon>
Home
</button>

<button mat-list-item routerLink="/admin-dashboard/profile">
<mat-icon mat-list-icon>account_circle</mat-icon>
Profile
</button>
<button mat-list-item routerLink="/admin-dashboard/all-admins">
<mat-icon mat-list-icon>people</mat-icon>
All Admins
</button>
<button mat-list-item routerLink="/admin-dashboard/all-users">
<mat-icon mat-list-icon>people</mat-icon>
All Users
</button>
<button mat-list-item routerLink="/admin-dashboard/categories">
<mat-icon mat-list-icon>list</mat-icon>
Categories
</button>

<button mat-list-item routerLink="/admin-dashboard/add-category">
<mat-icon mat-list-icon>add_circle_outline</mat-icon>
Add Categories
</button>

<button mat-list-item routerLink="/admin-dashboard/quizzes">
<mat-icon mat-list-icon>quiz</mat-icon>
Quizzes
</button>

<button mat-list-item routerLink="/admin-dashboard/add-quiz">
<mat-icon mat-list-icon>add</mat-icon>
Add Quiz
</button>

<button mat-list-item routerLink="/admin-dashboard/profile">
<mat-icon mat-list-icon>logout</mat-icon>
Logout
</button>

</mat-action-list>
</mat-card>